/* Mantiene los estilos generales previos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to top, #b06fdb, #98d0e6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
  margin-bottom: 20%;
}

form {
  border: 2px solid #000;
  box-shadow: 5px 5px 0 #000;
  width: 28em;
  min-height: 42em;
  background: white;
  padding: 0 3.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

/* logotipo */
form img {
  max-width: 40%;
  height: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

form label {
  display: block;
  width: 100%;
  font-weight: 600;
  color: black;
  margin-top: 1em;
}

form input {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  color: black;
  padding: 0.5em;
  border: none;
  border-bottom: 0.12em solid black;
  outline: none;
  margin-bottom: 0.5em;
}

form input:focus {
  border-color: rgb(176, 147, 197);
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

form button {
  font-size: 1.1em;
  padding: 1em;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgb(176, 147, 197);
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.15em;
  margin-top: 1.2em;
  transition: 0.5s;
}

form button:hover {
  background-color: rgb(176, 147, 197);
}

.register-link {
  text-align: center;
  margin-top: 1.5em;
}

.register-link a {
  color: rgb(0, 255, 149);
  font-size: 1em;
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}

.btn {
  margin-bottom: 10px;
}
