<header>
  <div class="principal">
    <div class="logo">
      <img src="../assets/images/logotipo.png" alt="" />
    </div>
    <div class="eslogan">
      <p>Cuidamos de tus mascotas con amor y dedicación.</p>
      <a href="appointment">Reserva Tu Cita Aquí</a>
    </div>
  </div>
  <div class="buttons">
    <div class="btn-cart">
      <i class="fa-solid fa-cart-shopping"></i>
      <a href="cart">Carrito</a>
    </div>
    <!-- <div class="btn-login">
      <i class="fa-regular fa-user"></i>
      <a routerLink="iniciar-sesion">Iniciar Sesión</a>
    </div> -->
  </div>
</header>
