<app-header></app-header>
<app-nav></app-nav>

<section class="servicios">
  <div class="titulo">
      <h1>Consejos y Cuidados para tu Mascota</h1>
      <h2>Descubre valiosa información para mantener a tu mascota sana y feliz. Desde guías de nutrición hasta recomendaciones de cuidados especiales, nuestro blog está diseñado para ayudarte a ser el mejor dueño que tu amigo peludo necesita.</h2>
  </div>
  <div class="services-cards">
      <div class="row">
          <!-- Fila 1: 3 servicios -->
          <div class="col">
              <div class="service-card">
                  <img src="assets/images/blog1.jpg" alt="Servicio 1">
                  <h3>Guía de Alimentación Saludable para tu Mascota</h3>
                  <p>Aprende a elegir los mejores alimentos según la especie, raza y edad de tu mascota. Una dieta balanceada es clave para su salud y longevidad.</p>
                  <div class="boton">
                      <a routerLink="/secondary" routerLinkActive="active">Saber más</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="service-card">
                  <img src="assets/images/blog2.webp" alt="Servicio 2">
                  <h3>Cómo Mantener a tu Mascota Activa y Feliz</h3>
                  <p>Descubre actividades físicas y juegos que mantendrán a tu perro o gato en forma, además de estimular su mente y reducir el estrés.</p>
                  <div class="boton">
                      <a >Saber más</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="service-card">
                  <img src="assets/images/blog3.jpg" alt="Servicio 3">
                  <h3>Cuidado Preventivo: La Importancia de las Vacunas</h3>
                  <p>Asegúrate de que tu mascota esté protegida contra enfermedades comunes. Aquí te contamos sobre los calendarios de vacunación y desparasitación recomendados.</p>
                  <div class="boton">
                      <a >Saber más</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <!-- Fila 2: 3 servicios -->
          <div class="col">
              <div class="service-card">
                  <img src="assets/images/blog4.avif" alt="Servicio 4">
                  <h3>Identificando Señales de Estrés y Ansiedad en tu Mascota</h3>
                  <p>¿Tu mascota está mostrando cambios de comportamiento? Aprende a reconocer los signos de estrés y cómo puedes ayudar a tu amigo peludo a sentirse más tranquilo.</p>
                  <div class="boton">
                      <a >Saber más</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="service-card">
                  <img src="assets/images/blog5.jpg" alt="Servicio 5">
                  <h3>Higiene y Cuidado de la Piel y el Pelaje</h3>
                  <p>Mantén a tu mascota limpia y con un pelaje brillante. Descubre consejos para el cepillado, el baño adecuado y cómo prevenir problemas dermatológicos.</p>
                  <div class="boton">
                      <a >Saber más</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="service-card">
                  <img src="assets/images/blog6.jpg" alt="Servicio 6">
                  <h3>Cuidados Especiales para Mascotas Senior</h3>
                  <p>A medida que tu mascota envejece, sus necesidades cambian. Aprende a brindarle los cuidados específicos que necesita para vivir su etapa senior con bienestar.</p>
                  <div class="boton">
                      <a >Saber más</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<app-footer></app-footer>
